{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container-fluid px-0">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-content">
                <div class="carousel-overlay"></div>
                <h2 class="callout logo-font">Check out the latest items<h2>
                <a href="{% url 'products' %}" class="shop-now-button btn btn-lg text-uppercase py-3">Shop Now!</a>
              </div>
            <div class="carousel-item active">
                <div class="d-flex align-items-center justify-content-center min-vh-100">
                    <img class="d-md-none min-vh-100 min-vw-100" src="https://upkicks.s3.amazonaws.com/media/heroimagesml1.jpg" alt="First slide">
                    <img class="d-none d-md-block min-vh-100 w-100" src="https://upkicks.s3.amazonaws.com/media/heroimage1.jpg" alt="First slide">
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex align-items-center justify-content-center min-vh-100">
                    <img class="d-md-none min-vh-100 min-vw-100" src="https://upkicks.s3.amazonaws.com/media/heroimagesml2.jpg" alt="Second slide">
                    <img class="d-none d-md-block min-vh-100 w-100" src="https://upkicks.s3.amazonaws.com/media/heroimage2.jpg" alt="Second slide">
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex align-items-center justify-content-center min-vh-100">
                    <img class="d-md-none min-vh-100 min-vw-100" src="https://upkicks.s3.amazonaws.com/media/heroimagesml3.jpg" alt="Second slide">
                    <img class="d-none d-md-block min-vh-100 w-100" src="https://upkicks.s3.amazonaws.com/media/heroimage3.jpg" alt="Third slide">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

