{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1 class="display-4 text-success">It works!</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a facilisis justo. Etiam ac augue risus. Aliquam id nisi nec nisi tristique bibendum. Integer sodales eget libero et gravida. Suspendisse lacinia orci sed nulla efficitur sodales. Vestibulum et risus nibh. Suspendisse tellus orci, tincidunt nec vulputate sit amet, faucibus sed libero. Suspendisse ac ipsum eros.

        Donec tristique a turpis ut rutrum. Ut a dignissim urna. Suspendisse posuere elementum nulla ac dapibus. Vivamus varius accumsan felis, eu placerat odio. Ut in urna mauris. Proin commodo quam non aliquet feugiat. Sed a pellentesque enim, quis tempor nisl. In accumsan rutrum velit vel ultrices. Integer dignissim non mauris ut aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        
        Aliquam massa ex, aliquam in felis eu, interdum congue est. Nulla dictum mauris nec dui euismod auctor. Praesent congue ligula et libero aliquam aliquam. Nunc tincidunt magna ac elit auctor, at imperdiet erat interdum. Fusce pulvinar ac nunc in gravida. Quisque eget ante id ex tempus scelerisque. In et mi augue. Etiam vel euismod nisi. Proin placerat risus at ante ornare, id tincidunt nulla volutpat. Morbi gravida elementum justo, viverra sagittis justo tincidunt eget. Nam non sapien euismod erat venenatis tristique vitae vitae ex. Suspendisse faucibus enim sed massa volutpat, a commodo tellus ornare. In hac habitasse platea dictumst.
        
        Mauris ex lacus, ultrices sed eleifend ultrices, blandit eu urna. Proin quam justo, tincidunt ut purus eu, laoreet pulvinar ante. Duis mollis eget augue sed convallis. Donec tempor a arcu ac pharetra. Sed at faucibus magna. Curabitur est sem, faucibus semper sapien ut, pretium pellentesque metus. Morbi nec mattis lorem. Mauris elementum purus tortor, quis tempus quam tristique vel. Sed laoreet ut nulla vel imperdiet.
        
        Vivamus rutrum enim id posuere ultricies. Curabitur id turpis in mauris tincidunt cursus vel vel lectus. Proin sollicitudin tincidunt urna, feugiat laoreet quam aliquam ut. Ut ac eros at magna pharetra lobortis in at enim. Aenean gravida quam eget dolor volutpat, ut hendrerit libero commodo. Nulla facilisi. Fusce mattis, elit at aliquet maximus, lorem lacus pellentesque ipsum, sit amet luctus magna neque condimentum leo. Maecenas mattis augue laoreet lectus lobortis, non laoreet velit condimentum. Nullam sodales mollis nunc sed lobortis. Quisque at lacus malesuada, mattis mauris eget, consectetur ipsum.
        
        </p>
{% endblock %}
