{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="row mt-3">
        <div class="col-12 text-center">
            <hr>
            <h2 class="logo-font title-shadow mb-4">Edit Review</h2>
            <hr>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="image-container my-5 text-center">
                    <p class="mb-5 product-detail-name"><strong>{{ product.name }}</strong></p>
                    {% if product.image %}
                    <a href="{{ product.image.url }}" target="_blank">
                        <img class="card-img-top img-fluid product-detail-img" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img class="card-img-top img-fluid product-detail-img" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                    {% endif %}
                </div>
            </div>
                <div class="col-12 col-md-6">
                    <form action="{% url 'edit_review' review.id %}" method="POST" class="form mt-5 mr-lg-5">
                        <div class="form-group col-3 star-col">
                            <label class="text-left">Rating*</label>
                            <div class="star-rating">
                                <input type="radio" name="stars" id="star-a" value="5" required/>
                                <label for="star-a"></label>
                          
                                <input type="radio" name="stars" id="star-b" value="4"/>
                                <label for="star-b"></label>
                            
                                <input type="radio" name="stars" id="star-c" value="3"/>
                                <label for="star-c"></label>
                            
                                <input type="radio" name="stars" id="star-d" value="2"/>
                                <label for="star-d"></label>
                            
                                <input type="radio" name="stars" id="star-e" value="1"/>
                                <label for="star-e"></label>
                          </div>
                        </div>
                        {% csrf_token %}
                        {{ form | crispy }}
                        <div class="text-center">
                            <a href="{% url 'product_detail' product.id %}" class="btn btn-outline-black mr-3 rounded-0">Cancel</a>
                            <button type="submit" class="btn btn-outline-black ml-3 rounded-0">Submit</button>
                        </div>
                    </form>
                </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
    $( ".star-rating" ).change(function() {
        var starRating = $('input[name=stars]:checked').val();
        var hiddenRating = $('input[name=rating]')
        hiddenRating.val(starRating)
});

$( document ).ready(function() {
    var hiddenRating = $('input[name=rating]').val();
    var starRating = $('input:radio[name=stars]');
    if(starRating.is(':checked') === false) {
        starRating.filter(`[value=${hiddenRating}]`).prop('checked', true);
    }
});
</script>
{% endblock %}