<script>

    // enables / disables buttons 
    $(".decrement-qty").on('click', function(event){
                var qtyInput = $(this).closest('div').next()
                var incrementBtn = qtyInput.next('div').find('.increment-qty')[0]
                incrementBtn.disabled = false
                var value = $(this).closest('div').next().val()
                if (value <= 1) {
                    $(this).prop('disabled', true)
                }
    });

    // enables / disables buttons 
    $(".increment-qty").on('click', function(event){
                var qtyInput = $(this).closest('div').prev()
                var decrementBtn = qtyInput.prev('div').find('.decrement-qty')[0]
                decrementBtn.disabled = false
                var value = $(this).closest('div').prev().val()
                if (value >= 98) {
                    $(this).prop('disabled', true)
                }
    });

    // Ensure proper enabling/disabling of all inputs
    var allQtyInputs = $('.qty_input');
    for(var i = 0; i < allQtyInputs.length; i++){
        var itemId = $(allQtyInputs[i]).data('item_id');
    }

    // Increment quantity
    $('.increment-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue + 1);
       var itemId = $(this).data('item_id');
    });

    // Decrement quantity
    $('.decrement-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue - 1);
       var itemId = $(this).data('item_id');
    });

    // Update quantity
    $('.update-item').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item 
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })

</script>