.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: #fdefef;
  box-shadow: 10px -6px 3px 0 #d0dded;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  color: white;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 10px -6px 3px 0 #fdefef;
    background-color: #d0dded;
    transition: box-shadow 300ms ease-in-out;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: black;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
    font: white;
}